*{
    margin: 0;
    padding: 0;
    font-family: 'Yantramanav', sans-serif;
}

header {
    border-bottom: 3px solid black;
    height: 100px;
    background: #f6f6f6;
}

header h1 {
    margin: 20px 100px;
    display: inline-block;
}

header nav {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
}

header nav label input , nav label img {
    display: none;
}

header nav ul {
    margin-right: 100px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    width: 150px;
    text-align: center;
    line-height: 100px;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

a {
    color: black;
}

.info {
    background: #9ebc4f;
    width: 20%;
    color: white;
    height: calc(100vh - 100px);
    padding: 30px 20px;
    text-align: center;
    float: left;
}

#options-calendar {
    width: 20%;
    height: calc(100vh - 160px);
    background: #a6bb58;
    color: white;
    text-align: center;
    padding: 30px 20px;
    float: left;
}

#options-calendar span {
    font-size: 40px;
    margin: 30px 10px;
    cursor: pointer;
}

#options-calendar p {
    background: #ff4c4c;
    padding: 20px;
    font-size: 15px;
    margin-top: 50px;
    cursor: pointer;    
}

section h2 {
    margin: 0;
}

#month-calendar {
    width: 80%;
    height: calc(100vh - 160px);
    position: absolute;
    overflow: hidden;
    left: 20%;
}

#mov {
    overflow: hidden;
    width: 240vw;
}

#month-calendar article {
    width: 33%;
    display: inline-block;
    padding: 20px 50px;
    overflow: hidden;
    vertical-align: top;    
}


#month-calendar p{
    display: inline-block;
    font-weight: 700;
    width: 14.28%;
    margin-top: 10px;
    font-size: 16px;
}

#month-calendar h2 {
    border-bottom: 3px solid #ff804c;
    font-size: 40px;
    padding-bottom: 5px;
}

#mov {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#month-calendar ul li:nth-child(1) {
    margin-left: 14.28%;
}

.my-new-class {
    background: black !important;
    display: none;
}

#month-calendar #mov article:nth-child(2) li:nth-child(1) {
    margin-left: 57.12%;
}

#month-calendar #mov article:nth-child(3) li:nth-child(1) {
    margin-left: 85.68%;
}


#month-calendar ul li {
    list-style: none;
    width: 14.28%;
    display: inline-block;
    height: 60px;
    border: 1px solid #ccc;
    padding: 5px;
}

.info span {
    color: white;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

.info h3 {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    background: #839d40;
    font-size: 18px;
    cursor:pointer;
}

.calendar {
    width: 100%;
    padding: 30px 40px;
}

.calendar p {
    width: 14.27%;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.input-picker {
    width: 100% !important;
    font-size: 15px;
}

.input-picker .picker-list.day-list td>button {
    padding: 1em;
}

.input-picker .ws-picker-controls>button {
    background: none;
    border:none;
}
.input-picker .ws-button-row {
    position: absolute;
    top: 0;
    padding: 0;
}

.ws-current {
    color: black !important;
    font-size: 16px !important;
}

.input-picker .ws-button-row>button {
    background-color: #EBEBEB !important;
    background-image: none !important;
}

.ws-empty {
    display:none !important;
}

.input-picker .next-controls {
    left: 150px;
}

.input-picker .prev-controls, .input-picker .ws-po-box[dir=rtl] .next-controls {
    left: 100px;
}

.input-picker .ws-picker-header>button {
    text-align: right;
    font-size: 25px;
    padding: 0;
}

.ws-date {
    display: none;
}

button.ws-next{
    left: 0;
    position: absolute;
}

.input-picker .picker-list td>button:hover, .input-picker .picker-list td>button.checked-value {
    background-color: #9ebc4f !important;
}


footer {
    position: absolute;
    bottom: 0;
    background: #f6f6f6;
    border-top: 5px solid black;
    width: 100%;
    text-align: right;
    height: 60px;
    line-height: 60px;
    box-sizing: content-box;
    font-weight: 700;
}

footer p {
    margin: 0 20px !important;
}